/* action_banner.scss */

.view-action-banner {
  padding:2.6em 0.8em;
  margin-bottom:10px;
  background-color: $body-font-color;
  color:#fff;

  & .row > [class^="col-"],[class*=" col-"] {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .banner-content {
    h1 {
      letter-spacing: -2px;
      font-size: 2.5em;
      font-weight: bold;
      line-height: 1.2;
      margin: 0 0 .3em 0;
      color: #fff;
    }

    p {
      line-height: 1.6;
      margin-bottom: 0;
      display: block;
      float: none;
    }

    //TODO: override mixin btn
  }

}