/* header.scss */

#block-cart {
  display: inline-block;
  float: right;
}
#block-mainnavigation {
  display: inline-block;
  float: right;
  width: auto;
  #menu-toggle {
    cursor: pointer;
  }
}
.region-navigation-collapsible {
  margin-right: -15px;
  position: relative;
  float: right;
  @include clearfix();
  .block-superfish {
    margin-left: 1em;
    display: block;
    float: left;
    #menu-toggle {
      display: block;
      width: 39px;
      height: 39px;
      text-align: center;
      border-radius: 3px;
      background: $body-font-color;
      color: #fff;
      position: relative;
      transition: background .2s linear, transform .3s cubic-bezier(0.5,0.135,0.15,0.58);
      -moz-transition:  background .2s linear, -moz-transform .3s cubic-bezier(0.5,0.135,0.15,0.58);
      -webkit-transition:  background .2s linear, -webkit-transform .3s cubic-bezier(0.5,0.135,0.15,0.58);
      -o-transition:  background .2s linear, -o-transform .3s cubic-bezier(0.5,0.135,0.15,0.58);
      &:before {
        position: absolute;
        top: 10px;
        content:"";
        left: 10px;
        padding-bottom: 5px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        width: 19px;
        text-indent: -9999px;
      }
      &:after {
        position: absolute;
        content: "";
        bottom: 10px;
        display: block;
        height: 3px;
        background: #fff;
        left: 10px;
        width: 19px;
      }
      &:hover {
        background: $theme-color;
      }
    }
    ul.sf-vertical {
      background: none repeat scroll 0 0 $body-font-color;
      font-size: 0.8125em;
      line-height: 1.6;
      min-width: 170px;
      border-radius: 3px;
      right: 0;
      margin: 5px 0 1.42857em 0;
      padding: 4px 0 0 0;
      display: none;
      position: absolute;
      float: none;
      z-index: 999;
      list-style: none outside none;
      transition: height 0s ease 0s, all 0.5s linear 0s;
      box-shadow: 0 4px 0 $theme-color inset;
      &.active {
        display: block;
      }
      > li {
        background: none repeat scroll 0 0 $body-font-color;
        min-width: inherit;
        float: none;
        z-index: inherit;
        border-radius: 3px;
        a {
          color: #ffffff;
          background: none repeat scroll 0 0 transparent;
          text-decoration: none;
          font-weight: bold;
          line-height: 42px;
          padding: 0 1.25em;
          display: block;
          &:hover {
            background-color: #374556;
            transition: all 0.2s ease 0s;
            border-radius: 3px;
          }
          .sf-sub-indicator {
            background: none;
          }
        }
      }
      ul {
        background: none repeat scroll 0 0 $body-font-color;
        min-width: 174px;
        border-radius: 3px;
        top: 0px;
        left: auto;
        right: 100%;
        margin: 0;
        padding: 0 4px 0 0 !important;
        display: block;
        position: absolute;
        float: none;
        z-index: 999;
        list-style: none outside none;
        transition: height 0s ease 0s, all 0.5s linear 0s;
        box-shadow: -4px 0 0 #f47e00 inset;
        li {
          min-width: 170px;
          float: left;
          z-index: inherit;
          border-radius: 3px;
          a {
            color: #ffffff;
            background: none repeat scroll 0 0 transparent;
            text-decoration: none;
            font-weight: bold;
            line-height: 42px;
            display: block;
            border-radius: 3px;
            &:hover {
              background-color: #374556;
              transition: all 0.2s ease 0s;
              border-radius: 3px;
            }
            .sf-sub-indicator {
              background: none;
            }
          }
        }
      }
      .fa:before {
        float: right;
      }
    }
  }

  #block-bearded-account-menu {
    float: left;
    @include clearfix();
    ul.menu {
      float: left !important;
      margin: 0;
      list-style: none;
      height: 39px;
      margin-right: 1em;
      background: $body-font-color;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      > li {
        float: left;
        height: 39px;
        width: 39px;
        display: block;
        text-align: center;
        position: relative;
        > a {
          padding: 0;
          > span {
            text-indent: -9999px;
            font-size: 0px;
          }
          display: block;
          line-height: 39px;
          color: #fff;
          text-decoration: none;
          &:hover:not(.active) {
            color: $theme-color;
          }
          &.is-active {
            background-color: $theme-color;
            height: 39px;
          }
        }
        &.active {
          > a {
            background-color: $theme-color;
            height: 39px;
            &:hover, &:focus {
              color: #fff;
            }
          }
        }
        &.last {
          > a.is-active {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
        &.first {
          > a.is-active {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }
      }
    }
  }
  .block-commerce-cart {
    float: left;
    @include clearfix();
    .view-shopping-cart {
      .view-empty {
        position: absolute;
        font-size: 0;
        text-indent: 960px;
        width: 0;
        height: 0;
      }
      .view-footer {
        .line-item-summary {
          float: left;
          list-style: none;
          width: auto;
          height: 39px;
          margin: 0 0 0 0;
          padding: 0 0 0 .8em;
          background: $body-font-color;
          border-radius: 5px; // 4px + 1px(to hide border glitch)
          > div {
            float: left;
            height: 39px;
            width: auto;
            display: block;
            text-align: center;
            position: relative;
            > span {
              display: block;
              line-height: 39px;
              color: #fff;
              text-decoration: none;
            }
          }
          &:before {
            font-family: FontAwesome, $body-font-family;
            content: "\f07a";
            line-height: 39px;
            color: #ffffff;
          }
          &:hover {
            background-color: $theme-color;
            color: #fff;
            .contents {
              background-color: darken( $theme-color, 5%);
            }
            .line-item-quantity {
              .line-item-quantity-raw {
                background-color: #056747;
              }
            }
          }
          &:before {
            float: left;
          }
          .line-item-quantity {
            display: block;
            float: right;
            .line-item-quantity-raw {
              border-top-right-radius:4px;
              border-bottom-right-radius:4px;
              font-family: $body-font-family;
              display: block;
              float: right;
              font-size: .875em;
              line-height: 39px;
              padding: 0 1.2em;
              background-color: #089a7a;
              font-weight: bold;
            }
          }
          .line-item-total {
            display: block;
            float: left;
            width: auto;
            .line-item-total-raw {
              font-family: $body-font-family;
              margin: 0 .8em 0 .5em;
              font-size: .875em;
              font-weight: bold;
              width: auto;
            }
          }
          .line-item-quantity-label {
            position: absolute;
            font-size: 0;
            text-indent: 960px;
            width: 0;
            height: 0;
          }
          .line-item-total-label {
            position: absolute;
            font-size: 0;
            text-indent: 960px;
            width: 0;
            height: 0;
          }
        }
      }
    }
    .commerce-ajax-cart-processed-processed {
      float: left;
    }
    .block__content.commerce-ajax-cart-processed-processed > div {
      z-index: 9999;
    }
    #commerce-ajax-cart-preview {
      background-color: $body-font-color !important;
      box-shadow: initial;
      color: #fff;
      font-size: 0.75em;
      text-align: left;
      min-width: 214px;
      line-height: 1.6;
      padding: 1em 1.5em;
      position: absolute;
      display: block;
      a {
        color: #fff;
      }
      .view-header {
        > h2 {
          font-size: 1.333em;
          line-height: 1.4;
          margin: 0 0 1em 0;
          color: inherit;
        }
      }
      .view-content {
        .views-row {
          @include clearfix();
          margin-bottom: 1em;
          .views-field-field-product-image {
            float: right;
            display: block;
            img {
              height: auto;
              max-width: 38px;
              vertical-align: middle;
            }
          }
          .views-field-line-item-title {
            font-weight: bold;
          }
          &:hover {
            a {
              color: $theme-color;
            }
          }
        }
      }
      .view-footer {
        .line-item-total {
          text-align: left;
          margin-bottom: 1.42857em;
        }
        .links--inline {
          text-align: left;
          margin-bottom: 1.42857em;
          li {
            position: relative;
            display: inline-block;
            a {
              font-size: 0.8125em;
              font-weight: bold;
              line-height: normal;
              background-color: $theme-color;
              border-radius: 3px;
              padding: 0.75em 1.5em;
              color: #fff;
              &:hover {
                background-color: $body-font-color;
              }
            }
          }
        }
      }
    }
  }
  &.navbar-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $body-font-color;
    ul.sf-vertical {
      &.active {
        display: none;
      }
    }
    #menu-toggle {
      width: 0;
      height: 0;
      position: absolute;
      background: none;
      &:before, &:after {
        content: "";
        border: none;
        background: none;
      }
    }
    .block--views-shopping-cart-block {
      float: right;
    }
    #block-bearded-account-menu ul.menu>li{
      &.first>a.is-active{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      &.last>a.is-active {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      }
    }
    ul {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
    }
    li {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
    }
    .block--views-shopping-cart-block {
      .view-shopping-cart {
        .view-footer {
          .line-item-summary {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0;
            .line-item-quantity {
              display: block;
              float: right;
              .line-item-quantity-raw {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
              }
            }
          }
        }
      }
    }
    .block--system-user-menu {
      ul.menu {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        > li {
          &.last {
            > a.active-trail {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
            }
          }
          &.first {
            > a.active-trail {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

.block-commerce-cart {
  .cart-block--contents {
    background-color: $body-font-color !important;
    box-shadow: initial;
    color: #fff;
    font-size: 0.75em;
    text-align: left;
    min-width: 214px;
    visibility: hidden;
    line-height: 1.6;
    padding: 1em 1.5em;
    position: absolute;
    display: block;
    box-sizing: content-box;
    background: white;
    .cart-block--contents__inner {
      padding: 0;
      .cart-block--contents__items {
        overflow-y: visible;
        max-height: none;
      }
      a {
        color: #fff;
      }
      .view-header {
        > h2 {
          font-size: 1.333em;
          line-height: 1.4;
          margin: 0 0 1em 0;
          color: inherit;
        }
      }
      .view-content {
        .views-row {
          @include clearfix();
          margin-bottom: 1em;
          &:before, &:after {
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
          }
          .views-field-field-product-variation-image {
            float: right;
            display: block;
            img {
              height: auto;
              max-width: 38px;
              vertical-align: middle;
            }
          }
          .views-field-title {
            font-weight: bold;
          }
          &:hover {
            a {
              color: $theme-color;
            }
          }
        }
      }
      .view-footer {
        .order-total-line__subtotal {
          display: none;
        }
        .order-total-line__total {
          text-align: left;
          margin-bottom: 1.42857em;
          padding: 0;
          .order-total-line-label {
            display: inline;
          }
          .order-total-line-value {
            display: inline;
            font-weight: 300;
          }
        }
      }
      .cart-block--contents__links {
        text-align: left;
        margin-bottom: 1.42857em;
        a {
          font-size: 0.81252222em;
          font-weight: bold;
          line-height: normal;
          background-color: $theme-color;
          border-radius: 3px;
          padding: 0.75em 1.5em;
          color: #fff;
          text-decoration: none;
          &:hover {
            background-color: $body-font-color;
          }
        }
      }
    }
  }
}
.cart-block--summary {
  float: left;
  list-style: none;
  width: auto;
  height: 39px;
  margin: 0 0 0 0;
  padding: 0;
  background: #27313d;
  border-radius: 5px;
  a.cart-block--link__expand {
    display: block;
  }
  a.cart-summary-count-link {
    float: right;
    .cart-block--summary__count {
      display: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      float: right;
      font-size: .875em;
      line-height: 39px;
      padding: 0 1.2em;
      background-color: #089a7a;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
    }
  }
  a.cart-summary-total-link {
    float: left;
    width: auto;
    text-decoration: none;
    padding: 0 .8em 0 .8em;
    .cart-block--summary__total {
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      margin: 0 0 0 .5em;
      font-size: .875em;
      font-weight: bold;
      width: auto;
      line-height: 39px;
      color: #fff;
    }
    &:before {
      font-family: FontAwesome,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      content: "\f07a";
      line-height: 39px;
      color: #ffffff;
    }
  }
  &:hover {
    background-color: $theme-color;
    color: #fff;
    .contents {
      background-color: darken( $theme-color, 5%);
    }
    .cart-summary-count-link {
      span {
        background-color: #056747;
      }
    }
  }
  &:before {
    float: left;
  }
}



/* navbar: header.scss */

.navbar-header {
  @media (min-width: $small) {
    float: left;
  }
}

.navbar {
  display: block;
  padding: 3em 0 0 0;
  margin-bottom: 2.5em;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  /* Extra Small Devices, Phones */
  /* Theming the Site Logo */
  @media only screen and (min-width : $small) {
    .region.region-navigation {
      .logo {
        float: left !important;
      }
      .navbar-text {
        font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        vertical-align: top;
        display: inline-block;
        text-align: left;
        margin: .5em 0 0 1em;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.4;
        color: #27313d;
        font-style: normal;
        text-rendering: optimizelegibility;
        border: 0;
        padding: 0;
      }
    }
  }
  .navbar-collapse {
    padding: 0;
    overflow: visible;
    max-width: 100%;
    border-top: 0;
  }
}

.navbar-toggle {
  display: none;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right !important;
}
