/* global.scss */

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.fa {
  font-family: FontAwesome, $body-font-family;
}
h1 {
  font-size: 2.25em;
  letter-spacing: -0.056em;
  line-height: 1.2;
  margin: 0 0 0.694em 0;
  padding: 0;
  max-width: 100%;
  word-wrap: break-word;
}
h2 {
  font-size: 2.3125em;
}
h3 {
  font-size: 1.6875em;
}
pre {
  background: none repeat scroll 0 0 #f7f7f8;
  margin: 1.5em;
  padding: 1.25em;
}


/* layout:global.scss */

@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
